.login-page {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: azure;
}

.info {
    margin: 45% 0;
    padding: 5%;
    font-size: 1.2rem;
}

.login-form {}

.login-form select {
    width: 85%;
    font-size: 1.2rem;
    padding: 1rem;
}

.login-form option {
    font-size: 1rem;
}

.login-form button {
    margin: 1rem;
    padding: .5rem;
    width: 30%;
    font-size: 1.2rem;
    background-color: #B983FF;
    border: none;
}

@media (min-width: 720px) {
    .login-page {
        width: 65%;
    }
    .info {
        margin: 10% 0;
        font-size: 1.5rem;
    }
    .login-form select {
        width: 60%;
    }
    .login-form button {
        width: 20%;
        margin: 2rem;
    }
}